.input-container {
  position: relative;
  width: 100px;
  height: 100px;
  /*margin: 0 auto;*/
}
  
#Mensaje {
  margin: 10px;
  position: absolute;
  width: 500%;
  height: 100%;
  box-sizing: border-box;
}
.parrafo{
  font-family: Arial;
  font-size:large;
  color:rgb(34, 34, 34);
  width: 100%;
  margin: auto;
  background-color:  rgb(168, 196, 196);
  padding: 0px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
    
    
}


fieldset{
padding: 0px;

}


iframe{
border: rgb(17, 3, 3);
border-radius: 30px;
    
    
    
}
.alinear{

background-color:  rgb(168, 196, 196);
width:100%;
margin: auto;
border-radius: 20px;
justify-content: center;
text-align:justify;
 
  
}
  
.orden{
  display: inline-flex;
  padding-left: 5%;
  padding-bottom: 3px;
  font-size: large;
  transition-duration: 10s;
 
  
}
