/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#button{
    background-color: #535353;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}

#menuprincipal {
    background-color: #828080;
    color: #0a0909;
    text-align: center;
    padding: 2px 5px;
        
}

footer {
    background-color: #828080;
    color: #0a0909;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2rem;
}

/* Animación de desplazamiento */
    @keyframes slideIn {
        0% {
            transform: translateY(-100%);
            }
        100%{
            transform: translateY(0);
            }
}
.lista-productos {
    animation: slideIn 1s ease-in-out;
        }
/* Estilos para los productos */

.oferta{
    font-size: 50px;
    color: rgb(150, 38, 38);
    font-family: "Freeman", sans-serif;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}



.productos {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
        
.product h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
        
.product p {
    font-size: 1rem;
    color: #666;
}
        
ul{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: rgb(4, 4, 4);
    font-size: large;
        
}
        
li{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: rgb(4, 4, 4);
    font-size: large;
}

.orden{
    text-align: right; 
    padding-right: 10px;
    font-weight: bold;
    font-size: x-large;
}




/* Estilos para pantallas pequeñas (celulares) */
@media (max-width: 600px) {
    
main {
    background-color: rgb(138, 186, 242);
}

article {
    width: 100%;
}
    
/*section {
    display: flex;
}*/

img {
    display:flex;
}

body {
    font-size: medium;
} 
}
  
/* Estilos para tablets */
@media (min-width: 601px) and (max-width: 1023px) {
    main {
    background-color: rgb(199, 216, 247);
}

article {
    width: 100%;
}
    
/*section {
    display: flex;
}*/

img {
    display: flex;
        
}

body {
    font-size: medium;
}
}
  
/* Estilos para pantallas grandes (computadoras) */
@media (min-width: 1024px) {
    main {
    background-color: rgb(124, 191, 200);
}

article {
    width: 100%;
}
.mapa{
    width:80%;
    background-color: #0f3f67;
}
    
/*section {
    display: flex;
}*/

img {
    display: flex;
}

body {
    font-size: medium;
}
}
/*Estilos para el formulario*/
.tit{
    font-size: 2rem;
    font-family: 'Lucida Sans';
    color: rgb(168, 196, 196);
   
}

.oferta{
        
    font-family: "Freeman", sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: rgb(150, 38, 38);
}
.titform{
    font-size: 1.5rem;
    font-family: 'Lucida Sans';
    color:rgb(49, 5, 118);
}
.campos{
    font-size: 1rem;
    font-family: 'Lucida Sans';
    color:rgb(49, 5, 118);
}

/* logo flotante 
    .logo{
        
    position: relative;;
    float:right;
    padding: 1rem;
    margin: 1rem;
    width: 80px;
    height: 80px;
    background-color: rgb(140, 40, 40);
    animation: animacion 3s ease-in-out infinite;
}

  @keyframes animacion {
    
            0% { transform: translateY(0); }
            50% { transform: translatey(100px); }
            100% { transform: translateY(0); }
          }*/

    /* logo flotante 2*/      
.logo{
    border: 2px solid black;
    padding: 1%;
    border-radius: 5px;
    margin: 0.5%;
    width: 6%;    
    display: flex;
             
    position: fixed; 
    top: 35%; 
    right: 1%; 
    font-size: 3rem;
    z-index: 20;
}
a {
    color: rgb(49, 5, 118);
    font-family: 'Lucida Sans';
    font-size: large;
}
        
        
/* links no visitados*/
a:link {
    color: rgb(22, 194, 68);
}
        
/* links visitados */
a:visited {
    color: rgb(175, 24, 67);
}
/* tamaño dde las imagenes*/
.derecha{
    width: 25%;
}
/* menu con estilo*/
#button {
    padding: 10px;
        
}
#button li {
    display: inline;
}
#button li a {
    font-family: 'Lucida Sans';
    font-size:16px;
    text-decoration:none;
    float:left;
    padding: 10px;
    background-color: #0f3f67;
    color: #fff;
}
#button li a:hover {
    background-color: #2586d7;
    margin-top:-2px;
    padding-bottom:12px;
    }
/* logos y texto redes*/
.flotar{
    float:left;
    max-width: 2rem;
    margin: 3px;
        
}
.redes{
    display:flex;
    margin-left: 3px;
    
}
