.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta el ancho mínimo y máximo según tu diseño */
    grid-gap: 20px; /* Espacio entre las columnas */
}



.productos {
    background-color: #6c9bb6; 
    padding: 20px;
}
