/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
#button{
    background-color: #535353;
    color: #fff;
    text-align: center;
    padding: 10px 0;

}

#menuprincipal {
    background-color: #828080;
    color: #0a0909;
    text-align: center;
    padding: 2px 5px;
        
}

footer {
    background-color: #808182;
    color: #0a0909;
    text-align: center;
    padding: 20px 0;
}


  
.container {
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr
  }
  
body {
    margin:  auto;
    font:Arial, sans-serif;
  }
  

  
.container > div {
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(89, 118, 161);
    border: 3px solid rgb(46, 98, 119);
  }
  