   /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        /* Encabezado */
        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        footer {
            background-color: #333333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        h1 {
            font-size: 2rem;
        }
        /* Animación de desplazamiento */
        @keyframes slideIn {
            0% {
                transform: translateY(-100%);
            }
            100% {
                transform: translateY(0);
            }
        }
        .lista-productos {
            animation: slideIn 1s ease-in-out;
        }
        /* Estilos para los productos */
        .productos {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .product h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }
        .product p {
            font-size: 1rem;
            color: #666;
        }
        ul{
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            color: rgb(4, 4, 4);
            font-size: large;
        }
        li{
            display: flex;
            justify-content: space-around;
            font-weight: bold;
            color: rgb(4, 4, 4);
            font-size: large;
        }
        .orden{
            text-align: right; 
            padding-right: 10px;
            font-weight: bold;
            font-size: x-large;
        }



        /* Estilos para pantallas pequeñas (celulares) */
@media (max-width: 600px) {
    
    main {
        background-color: rgb(138, 186, 242);
    }

    article {
        width: 100%;
    }
    
    /*section {
        display: flex;
    }*/

    img {
        display:flex;
    }

    body {
        font-size: medium;
    } 
}
  
  /* Estilos para tablets */
  @media (min-width: 601px) and (max-width: 1023px) {
    main {
        background-color: rgb(199, 216, 247);
    }

    article {
        width: 100%;
    }
    
    /*section {
        display: flex;
    }*/

    img {
        display: flex;
        
    }

    body {
        font-size: medium;
    }
  }
  
  /* Estilos para pantallas grandes (computadoras) */
  @media (min-width: 1024px) {
    main {
        background-color: rgb(124, 191, 200);
    }

    article {
        width: 100%;
    }
    
    /*section {
        display: flex;
    }*/

    img {
        display: flex;
    }

    body {
        font-size: medium;
    }
}
/*Estilos para el formulario*/
.tit{
    font-size: 2rem;
    font-family: 'Lucida Sans';
    color: rgb(168, 196, 196);
   
}
 .oferta{
        
            font-family: "Freeman", sans-serif;
            text-align: center;
            font-weight: 400;
            font-style: normal;
            font-size: 60px;
            color: rgb(150, 38, 38);
          }
